*, html{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

.form_registro{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    gap: 4rem;
    padding:6rem;
}

.navbar {
    background-color: #f4f4f4;
    padding: 10px;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-menu li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-menu li a:hover {
    color: #007bff;
}

/* Footer estilizado */
.footer {
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #666;
    background-color: #f1f1f1;
    margin-top: 30px;
}
